/target/classes/core/BaseEndpoint.class
/target/soapui/soapui-errors.log
/target/soapui/soapui.log
/target/test-classes/numberConversion/endpoints/NumberToDollars.class
/.allure/allure-2.13.8/bin/allure
/.allure/allure-2.13.8/bin/allure.bat
/.allure/allure-2.13.8/config/allure-cucumber.yml
/.allure/allure-2.13.8/config/allure-junit.yml
/.allure/allure-2.13.8/config/allure.yml
/.allure/allure-2.13.8/lib/allure-commandline-2.13.8.jar
/.allure/allure-2.13.8/lib/allure-generator-2.13.8.jar
/.allure/allure-2.13.8/lib/allure-model-2.13.0.jar
/.allure/allure-2.13.8/lib/allure-plugin-api-2.13.8.jar
/.allure/allure-2.13.8/lib/allure1-model-1.0.jar
/.allure/allure-2.13.8/lib/commons-beanutils-1.9.3.jar
/.allure/allure-2.13.8/lib/commons-codec-1.11.jar
/.allure/allure-2.13.8/lib/commons-collections-3.2.2.jar
/.allure/allure-2.13.8/lib/commons-collections4-4.2.jar
/.allure/allure-2.13.8/lib/commons-io-2.6.jar
/.allure/allure-2.13.8/lib/commons-lang3-3.9.jar
/.allure/allure-2.13.8/lib/commons-logging-1.2.jar
/.allure/allure-2.13.8/lib/commons-text-1.3.jar
/.allure/allure-2.13.8/lib/config/jetty-logging.properties
/.allure/allure-2.13.8/lib/config/log4j.properties
/.allure/allure-2.13.8/lib/flexmark-0.50.36.jar
/.allure/allure-2.13.8/lib/flexmark-util-0.50.36.jar
/.allure/allure-2.13.8/lib/freemarker-2.3.29.jar
/.allure/allure-2.13.8/lib/httpclient-4.5.9.jar
/.allure/allure-2.13.8/lib/httpcore-4.4.11.jar
/.allure/allure-2.13.8/lib/jackson-annotations-2.9.0.jar
/.allure/allure-2.13.8/lib/jackson-core-2.9.8.jar
/.allure/allure-2.13.8/lib/jackson-databind-2.9.8.jar
/.allure/allure-2.13.8/lib/jackson-dataformat-xml-2.9.8.jar
/.allure/allure-2.13.8/lib/jackson-dataformat-yaml-2.9.8.jar
/.allure/allure-2.13.8/lib/jackson-module-jaxb-annotations-2.9.8.jar
/.allure/allure-2.13.8/lib/javax.activation-api-1.2.0.jar
/.allure/allure-2.13.8/lib/javax.servlet-api-3.1.0.jar
/.allure/allure-2.13.8/lib/jaxb-api-2.3.1.jar
/.allure/allure-2.13.8/lib/jaxb-utils-1.0.jar
/.allure/allure-2.13.8/lib/jcommander-1.78.jar
/.allure/allure-2.13.8/lib/jetty-http-9.4.20.v20190813.jar
/.allure/allure-2.13.8/lib/jetty-io-9.4.20.v20190813.jar
/.allure/allure-2.13.8/lib/jetty-server-9.4.20.v20190813.jar
/.allure/allure-2.13.8/lib/jetty-util-9.4.20.v20190813.jar
/.allure/allure-2.13.8/lib/log4j-1.2.17.jar
/.allure/allure-2.13.8/lib/opencsv-4.6.jar
/.allure/allure-2.13.8/lib/properties-2.0.RC5.jar
/.allure/allure-2.13.8/lib/slf4j-api-1.7.28.jar
/.allure/allure-2.13.8/lib/slf4j-log4j12-1.7.28.jar
/.allure/allure-2.13.8/lib/snakeyaml-1.23.jar
/.allure/allure-2.13.8/lib/stax2-api-3.1.4.jar
/.allure/allure-2.13.8/lib/tika-core-1.22.jar
/.allure/allure-2.13.8/lib/woodstox-core-5.0.3.jar
/.allure/allure-2.13.8/plugins/README.txt
/.allure/allure-2.13.8/plugins/behaviors-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/behaviors-plugin/behaviors-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/behaviors-plugin/static/index.js
/.allure/allure-2.13.8/plugins/custom-logo-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/custom-logo-plugin/custom-logo-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/custom-logo-plugin/static/custom-logo.svg
/.allure/allure-2.13.8/plugins/custom-logo-plugin/static/styles.css
/.allure/allure-2.13.8/plugins/jira-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/jira-plugin/jira-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/allure-jira-commons-2.13.8.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/converter-jackson-2.6.1.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/jackson-annotations-2.9.0.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/jackson-core-2.9.8.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/jackson-databind-2.9.8.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/okhttp-3.12.0.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/okio-1.15.0.jar
/.allure/allure-2.13.8/plugins/jira-plugin/lib/retrofit-2.6.1.jar
/.allure/allure-2.13.8/plugins/junit-xml-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/junit-xml-plugin/junit-xml-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/packages-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/packages-plugin/packages-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/packages-plugin/static/index.js
/.allure/allure-2.13.8/plugins/screen-diff-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/screen-diff-plugin/screen-diff-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/screen-diff-plugin/static/index.js
/.allure/allure-2.13.8/plugins/screen-diff-plugin/static/styles.css
/.allure/allure-2.13.8/plugins/trx-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/trx-plugin/trx-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/xctest-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/xctest-plugin/lib/xmlwise-1.2.11.jar
/.allure/allure-2.13.8/plugins/xctest-plugin/xctest-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/xray-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/xray-plugin/lib/allure-jira-commons-2.13.8.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/converter-jackson-2.6.1.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/jackson-annotations-2.9.0.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/jackson-core-2.9.8.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/jackson-databind-2.9.8.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/okhttp-3.12.0.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/okio-1.15.0.jar
/.allure/allure-2.13.8/plugins/xray-plugin/lib/retrofit-2.6.1.jar
/.allure/allure-2.13.8/plugins/xray-plugin/xray-plugin-2.13.8.jar
/.allure/allure-2.13.8/plugins/xunit-xml-plugin/allure-plugin.yml
/.allure/allure-2.13.8/plugins/xunit-xml-plugin/xunit-xml-plugin-2.13.8.jar
/.settings/org.eclipse.core.resources.prefs
/src/test/resources/allure.properties
/target/allure-results/allure.properties
/target/allure-results/cucumber.json
/target/allure-results/executor.json
/target/cluecumber-report/css/bootstrap.min.css
/target/cluecumber-report/css/cluecumber.css
/target/cluecumber-report/css/cluecumber_custom.css
/target/cluecumber-report/css/dataTables.bootstrap4.min.css
/target/cluecumber-report/css/datatables.min.css
/target/cluecumber-report/css/jquery.fancybox.min.css
/target/cluecumber-report/font/cluecumber.eot
/target/cluecumber-report/font/cluecumber.svg
/target/cluecumber-report/font/cluecumber.ttf
/target/cluecumber-report/font/cluecumber.woff
/target/cluecumber-report/font/cluecumber.woff2
/target/cluecumber-report/index.html
/target/cluecumber-report/js/Chart.bundle.min.js
/target/cluecumber-report/js/bootstrap.min.js
/target/cluecumber-report/js/datatables.min.js
/target/cluecumber-report/js/jquery.fancybox.min.js
/target/cluecumber-report/js/jquery.min.js
/target/cluecumber-report/js/popper.min.js
/target/cluecumber-report/pages/feature-scenarios/feature_0.html
/target/cluecumber-report/pages/feature-summary.html
/target/cluecumber-report/pages/scenario-detail/scenario_1.html
/target/cluecumber-report/pages/scenario-sequence.html
/target/cluecumber-report/pages/step-scenarios/step_01176242509.html
/target/cluecumber-report/pages/step-scenarios/step_0722364361.html
/target/cluecumber-report/pages/step-scenarios/step_1161698744.html
/target/cluecumber-report/pages/step-scenarios/step_140641401.html
/target/cluecumber-report/pages/step-scenarios/step_846569973.html
/target/cluecumber-report/pages/step-summary.html
/target/cluecumber-report/pages/tag-summary.html
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/test-classes/allure.properties
/target/webservice-soapui-java-automation-testing-junit-cucumber-0.0.1-SNAPSHOT.jar
